center
  div(style="backgroupnd-color: #ffcf63;")
    h3= '懸賞問題　２０１３年３月号　出題：河内　勲　様'
  br
  img(src="assets/img/tokeure/archive/ken/13/03.gif" class="img-responsive")
  h4
    span.word(onmouseover="InfoOn(ht1)" onmouseout="InfoOff(ht1)")= '【解答】'
  div#ht1.info(style="visibility: hidden;")
    p= '３四桂　１二玉　２一銀　同玉　５一竜　１二玉　２二桂成　同玉　３二歩成　同玉　３一竜　まで１１手詰。'
script(language="JavaScript")
  | function InfoOn(obj){
  |   obj.style.visibility =  "visible";
  |   x = event.clientX+document.body.scrollLeft+10;
  |   y = event.clientY+document.body.scrollTop+10;
  |   obj.style.left = x;
  |   obj.style.top = y;
  | }
  | function InfoOff(obj){
  |   obj.style.visibility = "hidden";
  | }