center
  div(style="backgroupnd-color: #ffcf63;")
    h3= '懸賞問題　２０１３年５月号　出題：門田　和雄　様'
  br
  img(src="assets/img/tokeure/archive/ken/13/05.gif" class="img-responsive")
  h4
    span.word(onmouseover="InfoOn(ht1)" onmouseout="InfoOff(ht1)")= '【解答】'
  div#ht1.info(style="visibility: hidden;")
    p= '５二飛　４三玉　５三角成　３四玉　３五馬　４三玉　３四馬　同玉　５四飛成まで９手詰。'
script(language="JavaScript")
  | function InfoOn(obj){
  |   obj.style.visibility =  "visible";
  |   x = event.clientX+document.body.scrollLeft+10;
  |   y = event.clientY+document.body.scrollTop+10;
  |   obj.style.left = x;
  |   obj.style.top = y;
  | }
  | function InfoOff(obj){
  |   obj.style.visibility = "hidden";
  | }