center
  div(style="backgroupnd-color: #ffcf63;")
    h3= '懸賞問題　２０１３年２月号　出題：高野　甚蔵　様'
  br
  img(src="assets/img/tokeure/archive/ken/13/02.gif" class="img-responsive")
  h4
    span.word(onmouseover="InfoOn(ht1)" onmouseout="InfoOff(ht1)")= '【解答】'
  div#ht1.info(style="visibility: hidden;")
    p= '２二飛　３四玉　３六香　同と　４五金　同桂　４四馬　同玉　２四飛成まで９手詰。'
script(language="JavaScript")
  | function InfoOn(obj){
  |   obj.style.visibility =  "visible";
  |   x = event.clientX+document.body.scrollLeft+10;
  |   y = event.clientY+document.body.scrollTop+10;
  |   obj.style.left = x;
  |   obj.style.top = y;
  | }
  | function InfoOff(obj){
  |   obj.style.visibility = "hidden";
  | }