div.row
  h1.text-center(style="background-image: url(assets/img/rogoft.gif); background-repeat: no-repeat; background-size: cover; display: block; margin-left: auto; margin-right: auto;")
    p(style="color: #ffffff; font-size: 12px;")= '/将棋を孫に伝える会/SINCE 2011　/'