p.pull-left.visible-xs
  button(type="button", class="btn btn-primary btn-xs", data-toggle="offcanvas")= 'メニュー'
h1.text-center(style="background-image: url(assets/img/title.gif); background-repeat: no-repeat; background-size: cover; display: block; margin-left: auto; margin-right:o;")
  br
  font(face="HG明朝B", style="color: #ffffff;")= '将棋を孫に伝える会'
  br
  small(style="color: #ffffff;")= '～「将棋」と「詰将棋」を未来に繋げよう～'
  br
  br