extends ./templates/template.jade

block content
  //- 案内のテーブル
  table(border="0" cellspacing="0" width="700" cellpadding="0" style="BACKGROUND-COLOR: #ffffff")
    tr
      td(align="left" valign="top" style="padding-top:10px; padding-right:30px; padding-bottom:10px; padding-left:40px;")
        br
        p(style="line-height:150%; margin:0;")= '『 解けてうれしい詰将棋 』 定期会員　様'
        br
        p(align="center" style="line-height:150%; margin-top:0; margin-bottom:0;")
          b= '「 詰将棋新題提供のサービス 」 のご案内'
        br
        p(style="line-height:150%; margin:0; font-size:11pt;")
          | 将棋に関連するお知らせやミニコミ誌の片隅に詰将棋掲載はいかがでしょうか。
          br
          | 『将棋を孫に伝える会』では「解けてうれしい詰将棋」の定期購読会員の皆様向けに「詰将棋新題提供サービス」を行っていくことにいたしました。
          | お申し込み頂ければ無料で詰将棋新題を提供いたします。懸賞問題に使っていただいても結構です。
          br
          | 将棋のイベントや将棋大会のチラシに詰将棋が掲載されていますと大会が一層盛り上がりますし、チラシも大切にされるかと思います。
          | ぜひ本サービスをご活用頂きまして将棋の普及にもお役立て頂ければと思います。
          br
          | ＜ご注意点＞
          br
          | ①チラシへの掲載の際は……　出題「将棋を孫に伝える会」として下さい。
          br
          | ②初級向のやさしい好形作を中心とします。手数や出題数などご要望にお応えいたします。
          br
          | ③ご提供しました出題図は今後「増刊号」（英語版）にて出題を予定しますが、定期刊行の「解けてうれしい詰将棋」には掲載しません。
          | また、過去の出題図ではなく新題を提供いたします。
          br
        br
        br
        p(align="right" style="line-height:150%; margin:0; font-size:11pt;")
          img(align="left" style="margin:10px 0 20px 10px;" border="0" alt="" src="assets/img/mondaiteikyou/jkll-mono.png" width="200" height="72")
          | 【お問い合わせ・ご連絡先】
          br
          | 「将棋を孫に伝える会」三宅　英治
          br
          | Tel ： 090-6678-3012
          br
          | Mail： eiji6678@hotmail.co.jp
          br
        br
        table(border="0" cellspacing="0" cellpadding="0"  align="center" bordercolor="#000000" style="WIDTH: 500px; HEIGHT:")
          tr
            td
              p(style="line-height:150%; margin:10px 0 0 30px; font-size:11pt;")
                | ＜例＞　将棋大会用の詰将棋新題２題です。
                br
                table(border="0")
                  tr
                    td
                      center= '＜１＞ ３手詰'
                    td
                      center= '＜２＞９手詰'
                  tr
                    td
                      img(style="margin:0 20px 20px 60px;" border="0" alt="" src="assets/img/mondaiteikyou/3tesampl.png" width="150" height="170")
                    td
                      img(style="margin:0 0 20px 30px;" border="0" alt="" src="assets/img/mondaiteikyou/9tesampl.png" width="150" height="170")
        table(border="1" cellspacing="0" cellpadding="0" align="center" bordercolor="#000000" style="Z-INDEX: 0; WIDTH: 430px; HEIGHT:25px;")
          tr
            td
              p(style="line-height:100%; margin:10px 0 0 30px; font-size:11pt;")
                | ※詰将棋作家の皆様へ、ご投稿をお待ちしています。