extends ./templates/tokeure_template.jade

block content
  center
    h3= '『詰将棋年報への情報提供ご協力のお願い』'
    br
    p
      | 詰将棋保存会は詰将棋専門誌、ＷＥＢ、一般誌紙を問わず詰将棋の出題図を可能な限り収集し保存しております。
      br
      | 特に一般誌紙（スポーツ紙、雑誌など）で出題される問題は毎年４０００題を越えており、それを年報としてまとめています。
      br
      | こうした詰将棋保存に関心のある方、情報提供にご協力いただける方はお便りいただけないでしょうか。
      br
      br
    p
      | ◇　連絡先　◇
      br
      | 詰将棋保存会　荒川貴道　宛て
      br
      | メールアドレス ： arakawam2002@yahoo.co.jp