extends ./templates/tokeure_template.jade

block content
  center
    h3= '『 投稿作品募集内容 』'
  p
    | 皆様の創作されました問題の発表の場としてご利用くだされば幸いです。
    | 皆様の未発表の創作不必死、必死、詰将棋問題の投稿を下記内容にてお待ちしています。
    br
    br
    | ◇◆◇　作品は原則１００％掲載、作者名も掲載します　◇◆◇
    br
    | １．難易度は、やさしすぎるかな？ぐらいでＯＫです。
    br
    | ２．９～１１手詰程度。　
    br
    | ３．なるべく「５×５」以内。
    br
    | ４．合い駒問題はＮＧ。
    br
    | ５．できましたら、盤面１０枚まで、持駒３枚まで。
    br
    br
    | その他
    br
    | ①初心者啓発のための３～７手詰問題。
    br
    | ②やさしい１手、３手の必至問題や不必至問題の創作問題のご投稿もよろしくお願いします。
    br
    | 特に詰めか必死、不必死か一瞥して不明のような問題を歓迎します。
    br
    | ・・・不必死問題とは、簡単に必死がかかりそうで、実は逃れの妙手で詰みも必死もかからない問題です。
    br
    br
    | 【掲載場所】
    br
    | 「今月の懸賞問題」「練習問題」「詰か必至か不必至か」に掲載いたします。
    br
    | ◇連絡/問合せ先◇　三宅英治　まで
    br
    | メールアドレス　eiji6678@hotmail.co.jp