extends ./templates/tokeure_template.jade

block content
  center
    //- 今週の詰む将棋
    div.row(style="background-color: #0000ff")
      h3.text-center(style="color: #ffffff")= '【 駒の動かし方 】'
  div.row
    center
      img(src="assets/img/tokeure/nyuumon/ugoki/001.gif")
  div.row
    center
      img(src="assets/img/tokeure/nyuumon/ugoki/002.gif")