extends ./templates/tokeure_template.jade

block content
  center
    h3= '『 詰将棋年報2012年版のお知らせ 』'
  div.row
    div.col-lg-4.col-md-4.4col-sm-4.col-xs-4
      img(src="assets/img/tokeure/nennpou/nennpou12.jpg" align="right" width="135" height="180" border="0" style="margin-top:0px; margin-right:10px; margin-bottom:10px;" alt="")
    div.col-lg-8.col-md-8.col-sm-8.col-xs-8
      p
        | 詰将棋保存会では、一般の新聞雑誌で出題された詰将棋図を、収集保存しております。
        | そして、毎年1年分をまとめた冊子「詰将棋年報」を製作しております。2012年版が完成しましたのでご案内します。
        | 年会費4000円にてお送りします。
        br
        | 詰将棋保存会から皆さんにお願いしていることがあります。
        br
        | （１）詰将棋年報に収録されていない詰将棋の出題情報がありましたらお知らせください。
        br
        | （２）懸賞詰将棋には解答応募しましょう。
  br
  center
    p(style="LINE-HEIGHT: 120%; MARGIN: 0 0 0 60px")
      | ◇◇　問い合わせ先：　詰将棋保存会　荒川貴道　宛て　◇◇
      br
      | メールアドレス　arakawam2002@yahoo.co.jp