/* line 3, ../../../src/scss/offcanvas.scss */
html, body {
  overflow-x: hidden;
}

/* line 6, ../../../src/scss/offcanvas.scss */
body {
  padding-top: 70px;
}

/* line 9, ../../../src/scss/offcanvas.scss */
footer {
  padding: 30px 0;
}

@media screen and (max-width: 767px) {
  /* line 16, ../../../src/scss/offcanvas.scss */
  .row-offcanvas {
    position: relative;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  /* line 22, ../../../src/scss/offcanvas.scss */
  .row-offcanvas-right {
    right: 0;
  }
  /* line 24, ../../../src/scss/offcanvas.scss */
  .row-offcanvas-right.active {
    right: 50%;
  }

  /* line 28, ../../../src/scss/offcanvas.scss */
  .row-offcanvas-left {
    left: 0;
  }
  /* line 30, ../../../src/scss/offcanvas.scss */
  .row-offcanvas-left.active {
    left: 50%;
  }

  /* line 34, ../../../src/scss/offcanvas.scss */
  .row-offcanvas-right .sidebar-offcanvas {
    right: -50%;
  }

  /* line 37, ../../../src/scss/offcanvas.scss */
  .row-offcanvas-left .sidebar-offcanvas {
    left: -50%;
  }

  /* line 40, ../../../src/scss/offcanvas.scss */
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
  }
}
